In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("feiii-2017/FEIIIY2_csv/NIC_Financial_Entities.csv")

In [3]:
df.head()

,RSSD_ID,NAME,STREET,CITY,STATE,ZIP,COUNTRY
0,1026016,BANKAMERICA CORPORATION,555 CALIFORNIA STREET,SAN FRANCISCO,CA,94104,UNITED STATES
1,1026632,"CHARLES SCHWAB CORPORATION, THE",211 MAIN STREET,SAN FRANCISCO,CA,94105,UNITED STATES
2,1027004,ZIONS BANCORPORATION,"ONE SOUTH MAIN STREET, 15TH FLOOR",SALT LAKE CITY,UT,84133,UNITED STATES
3,1037003,M&T BANK CORPORATION,ONE M&T PLAZA,BUFFALO,NY,142032399,UNITED STATES
4,1039502,JPMORGAN CHASE & CO.,270 PARK AVENUE,NEW YORK,NY,10017,UNITED STATES